
.download_wrap {
    text-align: center;
}

.download_title {
    color: #000;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 25px;
        
}
.download_text {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #000;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 700;
    }
.download_button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.download_button a {
    padding: 25px 75px;
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: #FF4343;
    
}